@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


    h4,  {
        font-family: 'Satisfy', cursive;
    }

  h5,  {font-family: 'Nixie One', cursive;}

 p, span { font-family: 'Nunito', sans-serif;}


}